<a href="https://colab.research.google.com/github/JCesar-M/daa_2021_1/blob/master/21octubre_Modificado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#T(n) = 4 
from time import time
def ejemplo1( n ):
    start_time = time()
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    #print(f"total={ total }")
    elapsed_time = time() - start_time
    print(" %0.10f s" % elapsed_time)
for n in  range (100,1100,100 ):
  ejemplo1( n )

0.0000014305 segundos.
0.0000016689 segundos.
0.0000009537 segundos.
0.0000002384 segundos.
0.0000004768 segundos.
0.0000007153 segundos.
0.0000004768 segundos.
0.0000004768 segundos.
0.0000004768 segundos.
0.0000002384 segundos.

In [ ]:
#T(n) = 1+n^2
from time import time
def ejemplo2( n ):
    start_time = time()
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    elapsed_time = time() - start_time
    print(" %0.10f s" % elapsed_time)
    return contador

for n in  range (100,1100,100 ):
  ejemplo2( n )

0.0004525185 s
0.0019130707 s
0.0045809746 s
0.0090093613 s
0.0202541351 s
0.0243089199 s
0.0312066078 s
0.0332522392 s
0.0425481796 s
0.0528936386 s

In [ ]:
#T(n) = 102, es una funcion constante por que el for ya tiene un rango (100) + las otras asignaciones
from time import time
def ejemplo3( n ): # n=4
    start_time = time()
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    elapsed_time = time() - start_time
    print(" %0.10f s" % elapsed_time)
    return y

for n in  range (100,1100,100 ):
  ejemplo3( n )

0.0000071526 s
0.0000073910 s
0.0000090599 s
0.0000095367 s
0.0000088215 s
0.0000088215 s
0.0000085831 s
0.0000090599 s
0.0000088215 s
0.0000088215 s

In [ ]:
# T(n) = 3
from time import time
def ejemplo4( n ):
    start_time = time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    elapsed_time = time() - start_time
    print(" %0.10f s" % elapsed_time)
    return z

for n in  range (100,1100,100 ):
  ejemplo4( n )

0.0000009537 s
0.0000007153 s
0.0000002384 s
0.0000004768 s
0.0000002384 s
0.0000002384 s
0.0000002384 s
0.0000004768 s
0.0000007153 s
0.0000004768 s

In [ ]:
#T(n) = 1+x
from time import time
def ejemplo5( x ):
    start_time = time()
    n = 10
    for j in range( 0 , x , 1 ): # En un rango de 0 a X y que va de 1 en 1
        n = j + n
    elapsed_time = time() - start_time
    print(" %0.10f s" % elapsed_time)
    return n

for n in  range (100,1100,100 ):
  ejemplo5( n )

0.0000095367 s
0.0000157356 s
0.0000257492 s
0.0000371933 s
0.0000381470 s
0.0000541210 s
0.0000777245 s
0.0000722408 s
0.0000765324 s
0.0000820160 s

In [ ]:
# T(n) = 2 + n^3
from time import time
def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("%0.10f s" % elapsed_time)
    return suma

for n in  range (100,1100,100 ):
  ejemplo6( n )

0.1397447586 s
0.9785208702 s
3.5818004608 s
9.0329384804 s
18.3352601528 s
31.5508613586 s
51.4813709259 s
76.3443791866 s
111.5741174221 s
159.5532476902 s

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma

for n in  range (100,1100,100 ):
  ejemplo6( n )

Tiempo transcurrido: 0.0000050068 segundos.

1

In [ ]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count
# 1 + 25n^2

In [ ]:
def ejemplo7_2( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
ejemplo8(numeros)

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador


print(ejemplo9( 5 ))

In [ ]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count
print(ejemplo10(5)) 

# 1 + (n^n2)/2

"""
n= 3
000
n00 <-- aqui empieza el for interno
nn0 <--- aqui termina el for interno
nnn
n = 4
0000
n000 <-- aqui empieza el for interno
nn00
nnn0 <--- aqui termina el for interno
nnnn

n =5
00000
n0000 <-- aqui empieza el for interno
nn000
nnn00
nnnn0 <--- aqui termina el for interno
nnnnn
"""

In [ ]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

In [ ]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador
#T(n) = 1+n(2+2log2(n))

def ejemplo12_bis( n=5 ):
    contador = 0
    contador = contador + ejemplo11(0) # 0
    contador = contador + ejemplo11(1) # 0
    contador = contador + ejemplo11(2) # 1
    contador = contador + ejemplo11(3) # 1
    contador = contador + ejemplo11(4) # 2
    return contador
ejemplo12_bis( 5 )

In [ ]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

In [ ]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))

In [ ]:
#1+n^2+log2(n)

def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))