<a href="https://colab.research.google.com/github/JCesar-M/daa_2021_1/blob/master/21octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
#T(n) = 4 
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 99999 )

total=1

In [20]:
#T(n) = 1+n^2
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador

ejemplo2( 10 )

100

In [19]:
#T(n) = 102, es una funcion constante por que el for ya tiene un rango (100) + las otras asignaciones
def ejemplo3( n ): # n=4
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    return y

ejemplo3(10)

10

In [18]:
# T(n) = 3
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z

ejemplo4(9)

36.849599999999995

In [17]:
#T(n) = 1+x
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ): # En un rango de 0 a X y que va de 1 en 1
        n = j + n
    return n

ejemplo5(10)

55

In [16]:
# T(n) = 2 + n^3
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 300 ))

27000000

In [22]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
ejemplo6( 500 )

Tiempo transcurrido: 17.5185675621 segundos.

125000000